html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.homeImagePair::after {
  content: "";
  clear: both;
  display: table;
}

div.homeImagePairElement{
  float: left;
  width: 50%;
}

div.homePairTitle {
  height: 46px;
  line-height: 41px;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  margin-top: -6px;
  margin-bottom: -5px;
  text-align: center;
}

div.homePairCap {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: gray;
  background-color: black;
  text-align: center;
  vertical-align: middle;
}