html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
}

li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 10%;
  float: none;
    margin-bottom: 0px;

  
   font-size:15px;
   padding: 0px;
    border-style: dotted;
  border-color: black;
  border-width: 5px;
}

li a {
  color: white;
  padding: 5px 0px;
  display: block;
  text-decoration: none;
}


ul li a:hover, ul li a:focus {
 color:black;
 background-color:white;
}


div.tugboatTitle {
  font-size: 150px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 25px;
  color: white;
  background-color: black;
  line-height: 131px;
  height: 158px;
  text-align: center;
  margin-right:-50px;
}

div.titleCaption {
  height: 36px;
  line-height: 33px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: gray;
  background-color: black;
  margin-top: 0px;
  margin-bottom: -10px;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}