html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: black;
  width:100%;
  margin-bottom: 5px;
}

li {
  display: inline-block;
  text-align:center;
  float: left;

  margin-right: 5px;
  margin-left: 5px;
  
   font-size:22px;
   padding: 6px;
    border-style: dotted;
  border-color: white;
  border-width: 5px;
  width:13%;
}

li a {
  color: white;
  text-align: center;
  padding: 4px 0px;
  //font-size: 20px;
  text-decoration: none;
}

ul li a {
 display:block;
}

ul li a:hover, ul li a:focus {
 color:black;
 background-color:white;
}


div.tugboatTitle {
  font-size: 150px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 50px;
  color: white;
  background-color: black;
  line-height: 131px;
  height: 158px;
  text-align: center;
  margin-right:-50px;
}

div.titleCaption {
  height: 38px;
  line-height: 33px;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: gray;
  background-color: black;
  margin-top: -6px;
  margin-bottom: 0px;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}