html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height:100%;
  width:100%;
}

div.imagePair::after {
  content: "";
  clear: both;
  display: table;
}

div.imagePairElement{
  text-align: center;
  height: 65%;
  /* margin-top: 1.25%; */
  /* margin-bottom: 1.25%; */
  float: left;
  width: 50%;
  margin: 0 auto;
}