html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.flashRow::after {
	content: "";
	clear: both;
	display: table;
}

div.flashCol {
	float: left;
	width: 33.33%;
}