html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.flashRow::after {
	content: "";
	clear: both;
	display: table;
}

div.flashColTitle {
	height: 46px;
	line-height: 41px;
	font-size: 30px;
	letter-spacing: 10px;
	font-family: "Times New Roman", Times, serif;
	color: white;
	background-color: black;
	margin-top: 0px;
}

div.flashColInfo {
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: gray;
	background-color: black;
	margin-top: 0px;
}

div.flashCol {
	float: left;
	width: 33.33%;
}